<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia de perguntas</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"> <!-- <--! Importando arquivo css do bootstrap !!-->
    <link rel="stylesheet" href="/css/style.css"> <!-- <--! O express busca na pasta public automaticamente, não precisa passar ela no caminho e o css deve ser carregado após o css do bootstrap !!-->
</head>