<nav class="navbar-light bg-primary">><!-- <--! recurso do bootstarap que permite a criação de um menu no topo da página e na classe são definidas a cor do texto e fundo do navbar!!-->
    <a class="navbar-brand" href="/">><!-- <--! a class 'navbar-brand' permite o alinhamento do texto ou imagem à esquerda do menu navbar !!-->
        <img src="/img/guia.png">
    </a>
</nav>