<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>      
    <div class="container">
        <h1>Estilo do bootstrap</h1>
    </div>
    <!-- <--! "<% %>" significa exibir comandos da variável !!-->
    <!-- <--! "<%= %>" significa exibir valor da variável !!-->
</body>
<%- include('./partials/footer.ejs') %>