<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia de perguntas</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- <--! O express busca na pasta public automaticamente, não precisa passar ela no caminho !!-->
    <link rel="stylesheet" href="/css/bootstrap.min.css"> <!-- <--! Importando arquivo css do bootstrap !!-->
</head>
<body>      
    <h1>Estilo do bootstrap</h1>
    <!-- <--! "<% %>" significa exibir comandos da variável !!-->
    <!-- <--! "<%= %>" significa exibir valor da variável !!-->
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script> <!-- <--! Importando dependência para o uso do javascript do bootstrap !!-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script> <!-- <--! Importando dependência para o uso do javascript do bootstrap !!-->
<script defer src="/js/bootstrap/bootstrap.min.js"></script> <!-- <--! Importando arquivo js do bootstrap !!-->
</html>