<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia do Programador</title>
</head>
<body>
    <h1>Guia de perguntas</h1>
    <br>
    <h1>Lista de perguntas</h1>
</body>
</html>