<%- include('./partials/header.ejs') %> <!-- <--! incluindo header por meio do recurso partial do ejs que permite reutilizar partes do código, neste caso, está sendo incluindo o header  !!-->
<body>      
    <%- include('./partials/navbar.ejs') %><!-- <--! incluindo a partial de navbar !!-->
    <div class="container"><!-- <--! container é um recurso do bootstrap que permite a centralização do texto ou imgagem na tela !!-->
        <div class="card" id="formulario-pergunta"><!-- <--! recurso do bootstarap que permite a criação de bordas na página em um formato de formulário !!-->
            <div class="card-header"><!-- <--! cabeçalho do card !!-->
                <h3>Realizar pergunta</h3>
            </div>
            <hr>
            
            <div class="card-body"><!-- <--! corpo do card !!-->
                <form action="/salvarPergunta" method="POST">
                    <label for="titulo">Título</label>
                    <input type="text" placeholder="titulo" class="form-control" name="titulo">
                    <br>
                    
                    <label for="descricao">Descrição</label>
                    <textarea placeholder="descreva aqui sua pergunta" class="form-control" name="descricao" cols="30" rows="3"></textarea>   
                    <br>
                    
                    <button class="btn btn-primary">Perguntar</button>
                </form>
            </div>
        </div>
    </div>
    <!-- <--! "<% %>" significa exibir comandos da variável !!-->
    <!-- <--! "<%= %>" significa exibir valor da variável !!-->
</body>
<%- include('./partials/footer.ejs') %> <!-- <--! incluindo a partial de footer !!-->